extends layout

block content
  h1= title
  
  ul
    - products_list.sort(function(a, b) {let textA = a.product_name.toUpperCase(); let textB = b.product_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each product in products_list
      li 
        a(href=product.url) #{product.product_name}
        |  (#{product.product_id.name})

    else
      li There are no products.
